# Core Dependencies
# Core Dependencies
gradio
transformers
torch
sentence-transformers
pdfplumber
pymupdf
python-dotenv
langdetect
nltk
scikit-learn
matplotlib
bitsandbytes
accelerate
huggingface-hub
cohere
langchain_openai
sentencepiece
protobuf
datetime
typing
requests
google.generativeai
topic-wizard
